/* stylelint-disable selector-max-combinators, selector-max-compound-selectors, selector-max-specificity */

.block-hero-fp {
  align-items: center;
  background-color: $color-main;
  color: $color-white;
  display: flex;
  height: 100vh;
  max-height: 800px;
  padding-top: 60px;
  text-align: center;

  .button-wrapper {
    opacity: 1;
  }

  .button {
    background-color: $color-cyan-bright;
    color: $color-main;
    display: inline-flex;

    svg {
      margin-right: 1rem;
    }

    &:hover,
    &:focus {
      background-color: $color-cyan;
    }
  }

  @media (max-width: 1200px) {
    height: auto;
    max-height: 100%;
    padding-bottom: 10%;
    padding-top: calc(10% + 60px);
  }

  @media (max-width: $container-mobile) {
    padding-top: 0;
  }

  h1,
  p {
    color: $color-white;
  }

  h1 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 3rem;
    margin-top: 0;
    padding-left: 4rem;
    padding-right: 4rem;

    @media (max-width: 1400px) {
      font-size: 62px;
    }

    @media (max-width: 1000px) {
      font-size: 42px;
      padding: 0;
    }

    @media (max-width: 630px) {
      font-size: 32px;
    }

    @media (max-width: 480px) {
      font-size: 26px;
    }
  }

  p {
    font-size: var(--font-size-default);
    margin-bottom: 0;
    opacity: .6;
  }

  .featured {
    p {
      font-size: var(--font-size-small);
      margin: 0;
    }

    ul,
    li {
      color: $color-white;
      margin: 0;
      padding: 0;
    }

    ul {
      align-items: center;
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
    }

    /* stylelint-disable a11y/no-display-none */
    a::after {
      display: none;
    }

    a {
      align-items: center;
      color: $color-white;
      display: inline-flex;
      opacity: .5;
      transition: all .2s;
    }

    a:hover,
    a:focus {
      opacity: 1;
    }

    a:not(:hover),
    a:not(:focus) {
      .logo-wplift path,
      .logo-themessearch path:not(.bg) {
        filter: grayscale(100%);
      }

      .text-glyph {
        fill: $color-white;
      }

      .logo-wplift .text-glyph {
        stroke: $color-white;
      }

      .text-invert {
        fill: #2a2d3e;
      }
    }

    svg {
      height: 32px;
      margin: .5rem 2rem;
      width: auto;

      @media (max-width: 560px) {
        height: 24px;
      }
    }

    .hongkiat svg {
      height: 32px;

      @media (max-width: 560px) {
        height: 28px;
      }
    }

    .wpbeginner svg {
      height: 38px;

      @media (max-width: 560px) {
        height: 32px;
      }
    }

    .themessearch svg {
      height: 25px;

      @media (max-width: 560px) {
        height: 20px;
      }
    }

    .wplift svg {
      height: 47px;
      transform: translateY(-4px);

      @media (max-width: 560px) {
        height: 38px;
        transform: none;
      }
    }

    span {
      display: block;
      font-weight: 600;
      margin: 6rem auto 2rem;

      @media (max-width: 600px) {
        margin-top: 5rem;
      }
    }
  }
}
