.block-introduction {
  overflow: visible;

  h2 {
    opacity: 0;
  }

  .container {
    overflow: visible;
    padding-top: 0;
  }

  .cols {
    @include grid(3);
    grid-gap: 50px;
    margin-top: -120px;
  }

  .col {
    @include box-with-shadow();
  }

  svg {
    display: block;
    height: 60px;
    margin-bottom: 2rem;
    width: auto;
  }
}
