/* stylelint-disable number-max-precision */
@mixin box-with-shadow($border_radius: .125rem, $box_shadow_amount: 37px, $padding: 55px) {
  background-color: $color-white-real;
  border: 1px solid #f0f4fb;
  border-radius: $border_radius;
  box-shadow: 0 .5625rem 2.8125rem 0 rgb(35 69 152 / 15%);
  padding: $padding;
}
