// Use with @include box-with-shadow();
@mixin box-with-shadow($border_radius: 6px, $box_shadow_amount: 37px, $padding: 37px) {
  background-color: $color-white-real;
  border-radius: $border_radius;
  box-shadow: 0 29px 30px -25px rgba(0, 0, 0, .07);
  padding: $padding;

  h3 {
    font-size: 22px;
    font-weight: 500;
    margin-top: 0;
  }

  p {
    font-size: var(--font-size-small);
  }
}
