// Error 404 title
.block.block-error-404 {
  background-color: $color-white;

  .container {
    @media (min-width: $container-mobile) {
      padding-bottom: 15%;
      padding-top: 15%;
    }
  }

  h1 {
    @include responsive-font(42px, 200px);
    color: $color-darkgrey;
    font-weight: 700;
    margin-bottom: 2rem;
  }
}
